
################################################################################
# LS VARIATIONS
################################################################################

# lm                                List all & sort by modification date with most recent first and directories first
# ll, ld                            List only visible files & folders
# la                                List all files and folders
# lf                                List only (and all) files
# trees                             List in tree form using exa

################################################################################
# CLEANUP/UPDATE
################################################################################

# out                               Empty the Trash on all mounted volumes and the main HDD
#                                   Clear Apple’s System Logs to improve shell startup speed
#                                   Clear download history from quarantine. https://mths.be/bum
# cleands                           Recursively delete `.DS_Store` files
# flush                             Flush Directory Service cache
# cleanbrew                         Homebrew | Maintenance routines
# brewup                            Homebrew | Run brew-cask-upgrade and force it to update everything
# upgrade                           Homebrew & mas | update, upgrade all and cleanup
# update                            Get macOS Software Updates, and update installed Ruby gems, npm, and their installed packages
# brun, unbrew                      Homebrew | uninstall
# rm                                Send files and folders to Trash instead of deleting
# dots                              Update ~/ dotfiles if modified in macback
# mackup                            Back up dotfiles and preferences with mackup
# backup                            Backup preferences locally then remotely

################################################################################
# EVERYTHING ELSE
################################################################################

# nono                              Use micro instead of nano
# bashrc, aliases, brewfile         Open .bashrc/.aliases/Brewfile in micro
# reload                            Reload the shell (i.e. invoke as a login shell)
# path                              Print each PATH entry on a separate line
# mon                               Run gtop system monitor
# findit                            Use fd instead of find
# dt, dl                            cd to Desktop/Downloads
# shrug                             Copy a shrug to the clipboard
# c                                 Clear & reload the terminal
# s                                 Turn off the screen
# please                            sudo
# scan, audit                       Run a system audit using Lynis
# du                                Run duf instead of du
# cat                               Use bat instead of cat
# man                               Replace man with tldr
# ifactive                          Show active network interfaces



################################################################################
# aliases
################################################################################

alias lm="exa -a --header --group --long --git --sort=mod --reverse --group-directories-first"
alias ll="exa --header --group --long --git --group-directories-first"
alias ld="exa --header --group --long --git --group-directories-first"
alias la="exa -a --header --group --long --git --group-directories-first"
alias lf="fls f -a1 --color=always"
alias files="fls f -a1 --color=always"
alias tree="exa --tree --level=2 --header --group --long --git --icons ."
alias out="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
alias cleands="fd -H '^\.DS_Store$' -tf -X rm"
alias ="dscacheutil -flushcache && killall -HUP mDNSResponder"
alias cleanbrew="brew -v update && brew -v upgrade && brew -v cleanup --prune=0 && brew doctor && brew -v upgrade --greedy"
alias brewup="brew cu --all --force"
alias upgrade="brew update && brew upgrade && brew cu --all --yes --cleanup && mas upgrade && brew cleanup"
alias update='sudo softwareupdate -i -a; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'
alias brun="brew uninstall -v "
alias unbrew="brew uninstall -v "
alias rm="trash "
alias dots="rsync -auv ~/macback/dotfiles/ ~/"
alias mackup="mackup -f backup"
alias backup="rsync -av $HOME/Library/Preferences/ $HOME/backups/HomePrefs && rsync -av $HOME/backups/ $HOME/Dropbox/Backup"
alias nono="micro"
alias bashrc="micro $HOME/.bashrc && c && . $HOME/.bashrc"
alias aliases="micro $HOME/.aliases && c && . $HOME/.aliases"
alias brewfile="micro $HOME/Brewfile"
alias reload="exec $SHELL -l"
alias path='echo -e ${PATH//:/\\n}'
alias mon="gtop"
alias find="fd "
alias ..='cd ..'
alias ~='cd ~'
alias dl="cd $HOME/Downloads"
alias dt="cd $HOME/Desktop"
alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"
alias c="clear && reload"
alias s="pmset displaysleepnow"
alias please="sudo "
alias scan="lynis audit system"
alias audit="lynis audit system"
alias du="duf --sort filesystem"
alias cat="clear && bat "
alias man="tldr "
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
