#************************************************************************************#
# LS VARIATIONS USING EXA & FLS
#************************************************************************************#

# List all & sort by modification date with most recent first and directories first
alias lm="exa -a --header --group --long --git --sort=mod --reverse --group-directories-first"

# List only visible files & folders
alias ll="exa --header --group --long --git --group-directories-first"
alias ld="exa --header --group --long --git --group-directories-first"

# List all files and folders
alias la="exa -a --header --group --long --git --group-directories-first"

# List only (and all) files
alias lf="fls f -a1 --color=always"
alias files="fls f -a1 --color=always"

# List in tree form
alias tree="exa --tree --level=2 --header --group --long --git --icons ."

#************************************************************************************#
# CLEANUP/UPDATE
#************************************************************************************#

# Recursively delete `.DS_Store` files
alias cleands="fd -H '^\.DS_Store$' -tf -X rm"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up Homebrew
alias cleanbrew="brew -v update && brew -v upgrade && brew -v cleanup --prune=0 && brew doctor && brew -v upgrade --greedy"

# Run brew-cask-upgrade and force it to update everything
alias brewup="brew cu --all --force"

# Update, upgrade all and cleanup
alias upgrade="brew update && brew upgrade && brew cu --all --yes --cleanup && mas upgrade && brew cleanup"

# Get macOS Software Updates, and update installed Ruby gems, npm, and their installed packages
alias update='sudo softwareupdate -i -a; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Send files and folders to Trash instead of deleting
alias rm="trash "

#************************************************************************************#
# EVERYTHING ELSE
#************************************************************************************#

# Use micro instead of nano
alias nano="micro"

# Easier dotfile editing
alias bashrc="nano ~/.bashrc && c && . ~/.bashrc"
alias aliases="nano ~/.aliases && c && . ~/.aliases"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias mon="gtop"

# RUn fd instead of find
alias find="fd "

# a quick way to get out of current directory
alias ..='cd ..'
alias ~='cd ~'

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# ssh into the RasPi
alias pi="ssh pi"

# ssh into Kali Linux
alias kali="ssh sev@192.168.4.174"

# Copy a shrug to the clipboard
alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"

# Clear the terminal
alias c="clear && reload"

# turn off the screen
alias s="pmset displaysleepnow"

# sudo
alias please="sudo "

# Run a system audit
alias scan="lynis audit system"

# Back up dotfiles and preferences with mackup
alias dots="mackup -f backup"

# Run duf instead of du
alias du="duf --sort filesystem"

# brew uninstall
alias brun="brew uninstall -v "
alias werb="brew uninstall -v "
alias unbrew="brew uninstall -v "

# Use bat instead of cat
alias cat="clear && bat "

# edit a file using nano
alias e="nano "

# Replace man with tldr
alias man="tldr "

# Open Brewfile in nano
alias bredit="nano ~/Brewfile"

# Backup preferences
alias prefs="sudo rsync -av /Library/Preferences/ backups/RootPrefs && rsync -av /Users/sev/Library/Preferences/ backups/HomePrefs"

# Send backups directory to Dropbox
alias backup="rsync -av ~/backups/ ~/Dropbox/Backup"
